@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addition{
    font-weight: 200;
    font-size: 1rem;
    opacity: 0.5;
}

img{
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    padding: 0 2rem;
    max-width: 1400px;
    margin: 0 auto;
}

section {
    position: relative;
}

section:not(.fullwidth) {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.fullwidth {
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
}

.parallax-image-wrapper {
    overflow: hidden;
}

.parallax-image-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
